body {
    font-family: 'Poppins', sans-serif;


}

/* body */
h1 {
    font-size: 35px;
}


main {
    /* width: 900px; */
    height: 500px;
    display: flex;
    background-color: black;
    border: 1px solid darkgrey;
    border-radius: 25px;
    margin: 70px;

}

.banner {
    color: white;
    padding-left: 90px;
    padding-top: 70px;
}

.button {
    color: white;
    text-align: center;
    width: 120px;
    height: 50px;
    border-radius: 7px;
    background-color: red;
}

/* body end */


/* main */
#last-one {
    font-size: 17px;
    color: black;
    background-color: white;
}

.img {
    padding-top: 70px;
    padding-left: 50px;
    width: 100%;
}

.fa-solid {
    padding-left: 15px;
}

/* main end */



/* article */

.up-down {
    display: block;
    background: black;
    margin: 20px 20px;
    padding: 10px 15px;
    border-radius: 10px;
    color: white;
    font-size: 12px;
    background-color: red;
    text-decoration: none;
}

.link {
    background-color: black;
    width: 270px;
    height: 230px;
    border-radius: 10px;
    padding-top: 20px;
}

.working {
    display: flex;
    width: 105%;
}

article {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
}

.imagine {
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid white;
    border-radius: 5px;
}

@media screen and (max-width:576px) {
    .imagine {
        flex-direction: column;
    }

}

/* article end */


/* footer */
.footer {
    height: 400px;
    color: white;
    background-color: black;
    border: 1px solid grey;
    text-align: center;
    padding-top: 200px;
}

.harry {
    margin-left: 150px;
    margin-right: 150px;
}

.ending {
    justify-content: space-evenly;
    align-items: center;
    display: inline;
    padding-left: 20px;
}